.page-container{
  padding: 45px 90px;
}

.page-content{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

nav{
  padding-bottom: 40px;
}

.split-row{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.page-right-content{
  display: flex;
  justify-content: right;
  align-items: center;
}

.me-img{
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

.content-box{
  background-color: #2F2F2F;
  padding: 5px;
  text-align: center;
  margin: 5px;
  font-weight: 600;
  font-size: 1rem;
}

.page-left-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;;
}

.heading-box{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.heading-box > .heading{
  width: 70%;
  line-height: 130%;
}

.heading > .small-heading-text{
  text-align: left;
  font-size: 1.8rem;
}

.heading > .large-heading-text{
  text-align: right;
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
  color: #07CE27;
}

.section-header{
  font-size: 1.4rem;
}

.linked{
  border: 3px solid #07CE27;
  cursor: pointer;
  color: #fff;
}


.spacer{
  height: 5rem;
}